<!DOCTYPE html>
<html lang="de" ng-app="knattleikrAdminApp">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width">
   <title>KNATTLEIKR - Admin</title>

   <% include cssAndScripts %>

   <script type="text/javascript" src="/js/app_admin.js"></script>
</head>
<body ng-controller="knattleikrAdminController">

   <% include nav %>

   <div class="container" style="margin-top: 70px;">
      <div id="alertmessage" class="alert" style="display:none;">
         <span id="messagetext"></span>
      </div>
   </div>

   <div style="min-height: 500px;">
      <div class="hidden-xs col-md-2 col-lg-3"></div>
      <div class="col-xs-12 col-md-8 col-lg-6">
         <h4>Administration</h4>
         <div class="form-group">
            <label class="white">Aktueller Spieltag</label>
            <input type="text" class="form-control" name="aktuellerSpieltag" ng-model="aktuellerSpieltag"/>
         </div>

         <div class="form-group">
            <button type="button" ng-click="saveConfig()" class="btn btn-lg">Speichern</button>
         </div>

         <hr>

         <button type="button" ng-click="einzelwertung()" class="btn btn-lg">Einzelwertung berechnen <i id="spinner_einzelwertung" class="fa fa-refresh fa-spin" style="display:none"></i></button>

         <hr>

         <input type="text" class="form-control" ng-model="wertungsSpieltag"/><br/>
         <button type="button" ng-click="spieltagwertung()" class="btn btn-lg">Spieltagwertung berechnen <i id="spinner_spieltagwertung" class="fa fa-refresh fa-spin" style="display:none"></i></button>

         <hr>

         <button type="button" ng-click="lieferantenwertung()" class="btn btn-lg">Lieferantenwertung berechnen <i id="spinner_lieferantenwertung" class="fa fa-refresh fa-spin" style="display:none"></i></button>
      </div>
      <div class="hidden-xs col-md-2 col-lg-3"></div>
   </div>
   <div class="device-xs visible-xs"></div>
   <div class="device-sm visible-sm"></div>
</body>
</html>