<!DOCTYPE html>
<html lang="de" ng-app="knattleikrAdminApp">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width">
   <title>KNATTLEIKR - Admin</title>
   <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="/css/styles.css ">
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/de.js"></script>

   <script >
      sessionAktiv = <%=(user!=null) %>;
      aktuellerSpieltag = <%=aktuellerSpieltag%>;

      // Moment locale
      var locale = window.navigator.userLanguage || window.navigator.language;
      moment.locale(locale);
   </script>

   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
   <script type="text/javascript" src="/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
   <script type="text/javascript" src="/js/app_admin.js"></script>
</head>
<body ng-controller="knattleikrAdminController">
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/images/knattleikr_white.png" title="KNATTLEIKR" alt="KNATTLEIKR"/></a>
            <% if (user) {%>
               <ul class="nav navbar-nav">
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" id="username" aria-expanded="false"><%= user.nickname%> <span class="caret"></span></a>
                     <ul class="dropdown-menu" aria-labelledby="username">
                        <li><a href="/">Übersicht</a></li>
                        <li class="divider"></li>
                        <% if (user.isAdmin) {%><li><a href="/admin">Admin</a></li><li class="divider"></li><% }%>
                        <li><a href="/logout">Ausloggen</a></li>
                     </ul>
                  </li>
                  <li><p class="navbar-text"><%= user.wertung>-1?'('+user.wertung.toFixed(3)+')':''%></p></li>
               </ul>
            <% } else {%>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="true">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
            <% }%>
         </div>
      </div>
   </nav>

   <div class="container" style="margin-top: 70px;">
      <div id="alertmessage" class="alert" style="display:none;">
         <span id="messagetext"></span>
      </div>
   </div>

   <div style="min-height: 500px;">
      <div class="hidden-xs col-md-2 col-lg-3"></div>
      <div class="col-xs-12 col-md-8 col-lg-6">
         <h4>Administration</h4>
         <form action="#" method="post">
            <div class="form-group">
               <label class="white">Aktueller Spieltag</label>
               <input type="text" class="form-control" name="aktuellerSpieltag" ng-model="aktuellerSpieltag"/>
            </div>

            <div class="form-group">
               <button type="button" ng-click="saveConfig()" class="btn btn-lg">Speichern</button>
            </div>
         </form>
         <hr>
         <button type="button" ng-click="einzelwertung()" class="btn btn-lg">Einzelwertung berechnen <i id="spinner_einzelwertung" class="fa fa-refresh fa-spin" style="display:none"></i></button>
      </div>
      <div class="hidden-xs col-md-2 col-lg-3"></div>
   </div>
   <div class="device-xs visible-xs"></div>
   <div class="device-sm visible-sm"></div>
</body>
</html>