<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width">
   <title>KNATTLEIKR - Passwort zurücksetzen</title>
   <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/css/styles.css ">
   <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
   <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/images/knattleikr_white.png" title="KNATTLEIKR" alt="KNATTLEIKR"/></a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="true">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
         </div>
         <div class="navbar-collapse collapse" id="navbar-main" aria-expanded="true">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/register">Registrieren</a></li>
               <li><a href="/login">Einloggen</a></li>
            </ul>
         </div>
      </div>
   </nav>
   <div style="min-height: 500px; margin-top: 60px;">
      <div class="col-sm-6 col-sm-offset-3">
         <% if (errmessage.length > 0) {%>
            <div class="alert alert-danger"><%= errmessage %></div>
         <% }%>
         <% if (message.length > 0) {%>
            <div class="alert alert-success"><%= message %></div>
         <% }%>

         <h4><span class="fa fa-sign-in"></span> Passwort zurücksetzen</h4>
         <form action="/changepw" method="post">
            <input type="hidden" name="forgottenPwKey" value="<%= forgottenPwKey %>" />
            <div class="form-group">
               <label class="white">Neues Passwort</label>
               <input type="password" class="form-control" name="password1" />
            </div>
            <div class="form-group">
               <label class="white">Neues Passwort wiederholen</label>
               <input type="password" class="form-control" name="password2" />
            </div>

            <div class="form-group">
               <button class="btn btn-lg">Passwort ändern</button>
            </div>
         </form>
      </div>
   </div>
</body>
</html>