<!DOCTYPE html>
<html lang="de" ng-app="knattleikrIndexApp">
<head>
	<meta charset="UTF-8">
   <meta name="viewport" content="width=device-width">
	<title>KNATTLEIKR</title>

   <% include cssAndScripts %>

   <script type="text/javascript" src="/js/app_index.js"></script>
</head>
<body ng-controller="knattleikrIndexController">

   <% include nav %>
   
   <div class="container" style="margin-top: 70px;">
      <h6>Willkommen<% if(user) {%><span> <%= user.nickname%></span><%= userdetail.wertung>-1?' ('+userdetail.wertung.toFixed(3)+')':''%><% }%></h6>
      <div class="alert alert-danger alert-dismissable" <% if(!error) {%>style="display:none;"<% }%>>
         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         Deine Sitzung ist abgelaufen. Bitte logge Dich neu ein!
      </div>

      <div id="alertmessage" class="alert" style="display:none;">
         <span id="messagetext"></span>
      </div>
   </div>

   <div style="min-height: 500px;">
      <div class="hidden-xs col-md-2 col-lg-3"></div>
      <div class="col-xs-12 col-md-8 col-lg-6">
         <h4><a href="#" ng-click="getVorherigenSpieltag()"><span ng-show="aktuellerSpieltag>1" class="glyphicon glyphicon-triangle-left"></span></a> Spieltag {{aktuellerSpieltag}} <a href="#" ng-click="getNaechstenSpieltag()"><span ng-show="aktuellerSpieltag<34" class="glyphicon glyphicon-triangle-right"></span></a> <i id="spinner" class="fa fa-refresh fa-spin" style="display:none"></i></h4>
         <table class="table" ng-show="matchesFinished.length > 0">
            <thead>
               <tr>
                  <th colspan="2">Mannschaften</th>
                  <th>Erg.</th>
                  <% if (user) {%>
                     <th>Tipp</th>
                     <th>Pkt.</th>
                  <% }%>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="match in matchesFinished">
                  <td><img ng-src="{{ match.Team1.TeamIconUrl }}" width="20" /> {{ showTeamName(match, 1) }}</td>
                  <td><img ng-src="{{ match.Team2.TeamIconUrl }}" width="20" /> {{ showTeamName(match, 2) }}</td>
                  <td>{{ match.MatchResults[1].PointsTeam1+":"+match.MatchResults[1].PointsTeam2 }}</td>
                  <% if (user) {%>
                     <td ng-bind-html="showTipp(match)"></td>
                     <td>{{ match.punkte>=0?match.punkte:"" }}</td>
                  <% }%>
               </tr>
               <tr ng-if="wertung">
                  <td colspan="2"></td>
                  <td colspan="2"><b>Wertung:</b></td>
                  <td>{{ wertung.toFixed(3) }}</td>
               </tr>
            </tbody>
         </table>
         <form action="#" id="tippform">
            <table class="table" ng-show="matchesUnFinished.length > 0">
               <thead>
                  <tr>
                     <th colspan="2">Mannschaften</th>
                     <th>Datum</th>
                     <% if (user) {%>
                        <th>Tipp</th>
                     <% }%>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="match in matchesUnFinished">
                     <td><img ng-src="{{ match.Team1.TeamIconUrl }}" width="20" /> {{ showTeamName(match, 1) }}</td>
                     <td><img ng-src="{{ match.Team2.TeamIconUrl }}" width="20" /> {{ showTeamName(match, 2) }}</td>
                     <td>{{ showDatumUhrzeit(match) }}</td>
                     <% if (user) {%>
                        <td ng-bind-html="showTipp(match)"></td>
                     <% }%>
                  </tr>
               </tbody>
            </table>
            <span class="white" ng-show="tippbar"><b>Bitte beachten:</b> Tipps können bis spätestens 5 Stunden vor Spielbeginn abgegeben werden</span><br/>
            <button ng-show="spieltagDirty" type="button" class="btn btn-lg" ng-click="saveTipps()">Tipps abgeben</button>
         </form>
      </div>
      <div class="hidden-xs col-md-2 col-lg-3"></div>
   </div>
   <div class="device-xs visible-xs"></div>
   <div class="device-sm visible-sm"></div>
</body>
</html>