<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
   <meta name="viewport" content="width=device-width">
	<title>KNATTLEIKR - Einloggen</title>
   <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/css/styles.css ">
   <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
   <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
   <div class="container">
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="/"><img src="/images/knattleikr_white.png" title="KNATTLEIKR" alt="KNATTLEIKR"/></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/register">Registrieren</a></li>
            </ul>
         </div>
      </nav>

      <div class="col-sm-6 col-sm-offset-3">
         <% if (message.length > 0) {%>
            <div class="alert alert-danger"><%= message %></div>
         <% }%>

         <form action="/login" method="post">
            <div class="form-group">
               <label>E-Mail oder Anzeigename</label>
               <input type="text" class="form-control" name="identifier" />
            </div>
            <div class="form-group">
               <label>Passwort</label>
               <input type="password" class="form-control" name="password" />
            </div>

            <button class="btn btn-lg">Einloggen</button>
         </form>
      </div>
   </div>
</body>
</html>