body {
	margin-top: 10px;
   background: url(/images/background.png) no-repeat center center fixed;
   background-size: cover;
}

.tipp {
   color: black;
}

.white {
   color: white;
}

.meldung {
   color: #aaaaaa;
   border: 2px solid #aaaaaa;
   border-radius: 5px;
   padding: 20px;
}

.nav-list > li.aktiv {
   background-color: #222222;
}